<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Student Dashboard</title>

    <link rel="stylesheet" href="{% static 'css/dashboard.css' %}">
</head>

<body>

<header>

    <h1>MentorMatch</h1>

    <button onclick="logout()">
        Logout
    </button>

</header>

<div class="container">

    <!-- Welcome Card -->
    <div class="welcome-card">

        <h2 id="welcome"></h2>

        <p id="role"></p>

    </div>

    <div class="dashboard-grid">

        <!-- Search Mentors -->
        <div class="card">

            <h3>Search Mentors</h3>

            <input
                type="text"
                id="topic"
                placeholder="Enter a topic">

            <button onclick="searchMentors()">
                Search
            </button>

            <br><br>

            <div id="mentor-results">

            </div>

        </div>

        <div class="card">

            <h3>My Sessions</h3>

            <p>
                View all your pending, scheduled, and completed mentoring sessions.
            </p>

            <div id="student-sessions">

            </div>

        </div>

    </div>

</div>

<script src="{% static 'js/api.js' %}"></script>
<script src="{% static 'js/student.js' %}"></script>

</body>

</html>